export(as_magick)
export(period_font_theme)
export(apply_period_fonts)
export(patina_ink_bleed)
export(patina_kodachrome)
export(patina_photocopy)
export(patina_blueprint)
export(slideify_transparency)
export(scanify_journal)
export(hand_drawn_svg)

import(ggplot2)
import(grid)
import(magick)
import(ragg)
import(grDevices)
